<nav class="menu">
  <h1 class="name"></i> RIGHT TOOLS</a></h1>
  <ul class="inline-list">
    <li><a href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
<a name="about"></a>
<div class="bg-skew-main">

  <div class="content">
    <header class="intro">
      <h1> We build applications </h1>
      <p class="subheader">
        
      We help people leverage technology to solve issues they care about.

      </p>
    </header>
  </div>
  </div>
  <a name="services"></a>
  <div class="content">
     <div class="row features">
      <div class="medium-4 columns">
        <div class="round-icon">
          <%= image_tag("Globe.png") %>
        </div>
        <h3>Application Development</h3>
        <hr>
        <p>We can help you achieve your goals by developing solutions for both mobile devices using ios and android as well as responsive web solutions targeting all screen sizes.</p>
      </div>

 <div class="medium-4 columns">
        <div class="round-icon">
          <%= image_tag("Picture.png") %>
        </div>
        <h3>Design & Branding</h3>
        <hr>
        <p>We work with our customers to ensure that they have the correct branding to make them stand out to potential customers.</p>
      </div>     

      <div class="medium-4 columns">
        <div class="round-icon">
          <%= image_tag("megaphone.png") %>
        </div>
        <h3>Content Curation</h3>
        <hr>
        <p>Maximize your content for SEO and Social Networks. We use the latest techniques to improve the reach of your posts to drive traffic back to your desired location. </p>
      </div>
     
    </div>
  </div>
    
<div class="bg-skew-contact">
<a name="contact"></a>
  <div class="content">
    <form class="contact">
      <h2>Think we can help? Contact us today!</h2>
      <div class="row">
        <div class="large-12 columns">
          <label>
            <input type="text" placeholder="Name" />
          </label>
          <label>
            <input type="email" placeholder="Email Address" />
          </label>
          <label>
            <textarea placeholder="I have a great idea to build..."></textarea>
          </label>
          <a href="#" class="button success">Send it!</a>
        </div>
      </div>
    </form>
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"></i> Right Tools</p> 
      <p class="footer-links">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
      </p>
      <p class="copywrite">Copywrite Right Tools © 2015</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-telephone"></i> 07814-854-058</p></li>
        <li><p><i class="fi-mail"></i>mark@righttools.co.uk</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">About Right Tools</p>
      <p class="about subheader">We help people leverage technology to solve issues they care about.</p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-linkedin"></i></a>
        <a href="#"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>
  </div>
</div>
  
