<nav class="menu">
  <h1 class="name"></i> RIGHT TOOLS</a></h1>
  <ul class="inline-list">
    <li><a href="#">About</a></li>
    <li><a href="#">Features</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<div class="bg-skew-main">

  <div class="content">
    <header class="intro">
      <h1> Tools made simple </h1>
      <p class="subheader">
        
       	Unapologetically simple. We help people leverage the technology to solve issues they care about.

      </p>
    </header>
  </div>
  </div>
  <div class="content">
     <div class="row features">
      <div class="medium-4 columns">
        <div class="round-icon">
          <%= image_tag("Globe.png") %>
        </div>
        <h3>Application Development</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.</p>
      </div>

 <div class="medium-4 columns">
        <div class="round-icon">
          <%= image_tag("Chart.png") %>
        </div>
        <h3>Problem analysis</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.</p>
      </div>     

      <div class="medium-4 columns">
        <div class="round-icon">
          <%= image_tag("megaphone.png") %>
        </div>
        <h3>Content Curation</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus.</p>
      </div>
     
    </div>
  </div>
    
<div class="bg-skew-contact">
  <div class="content">
    <form class="contact">
      <h2>Think we can help? Contact us today!</h2>
      <div class="row">
        <div class="large-12 columns">
          <label>
            <input type="text" placeholder="Name" />
          </label>
          <label>
            <input type="email" placeholder="Email Address" />
          </label>
          <label>
            <textarea placeholder="I have a great idea to build..."></textarea>
          </label>
          <a href="#" class="button success">Send it!</a>
        </div>
      </div>
    </form>
<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-shield"></i> STARWARS</p> 
      <p class="footer-links">
        <a href="#">About</a>
        <a href="#">Features</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Copywrite not copywrite © 2015</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-telephone"></i>+1-656-453-9966</p></li>
        <li><p><i class="fi-mail"></i>contact@emperor.com</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">About Star Wars</p>
      <p class="about subheader">Strike me down, and I will become more powerful than you could possibly imagine.</p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-linkedin"></i></a>
        <a href="#"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>
  </div>
</div>
  
